@font-face {
    font-family: starwarsmain;
    src: url(fonts/starwarsmain.ttf);
}
html{
    margin: 0;
}
body {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    font-family: starwarsmain, Helvetica, sans-serif;
}
header {
    border-bottom: 2px solid red;
    background-image: url(images/logo.png), url(images/kylo_banner2.jpg);
    background-repeat: no-repeat;
    background-size: 160px, 1000px;
    background-position: 40px 40px, 0 0;
    background-color: #6a6969;
    height: 155px;
    position: relative;
}
#header_title {
    text-align: center;
    font-size: 40px;
    margin:0;
    padding-left: 370px;
    padding-top: 25px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: whitesmoke;
}
#header_title_sub {
    text-align: center;
    font-size: 25px;
    margin:0;
    padding-left: 360px;
    padding-top: 5px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: whitesmoke;
}
#links {
    margin-top: 32px;
    float: right;
}
a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a:hover {
    color: red;
}
#woods_wall {
    position:absolute;
    width: 1000px;
    height: 567px;
    z-index: -1;
    border-top: 0;
}
#snow-image{
    position: absolute;
    z-index: 0;
    border-top: 0;
}
.game-links {
    text-align: center;
    font-size: 15px;
    margin: 20px 5px 10px;
    display: inline-block;
}
#rey_title {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 5px;
    margin-bottom: 9px;
    color: whitesmoke;
    text-align: center;
}
#rey {
    width: 145px;
    height: auto;
    border: 4px solid black;
    border-radius: 8px;
}
#stats_container {
    padding: 10px 10px 90px;
    width: 150px;
    float: left;
    margin: 30px 10px 0 50px;
    border-radius: 15px 15px 15px 15px;
}
.label {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 20px 0 10px;
    color: whitesmoke;
}
.value {
    font-family: Arial,Helvetica,sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: red;
    font-size: small;
}

#stats_container, .value {

}
#game_area {
    border-top: 0;
    border-left: 0;
    padding-top: 25px;
    margin-left: 270px;
    height: 542px;
    text-align: center;
    width: 700px;
}
.back {
    background-image: url("images/kylo-cardback.jpg");
    background-color: #2A0306;
    background-repeat: no-repeat;
    background-size: 95px, 220px;
}
.card img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.front, .back {
    border: 4px solid ghostwhite;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.front:hover, .back:hover{
    transform: scale(1.2);
}
.card {
    display: inline-block;
    width: 95px;
    height: 130px;
    margin: 25px 5px 5px;
    position: relative;
}
.reset {
    font-family: starwarsmain, Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 12px 10px 10px;
    border-radius: 12px;
    color: white;
}
.reset:hover {
    color: red;
    box-shadow: 2px 2px 2px red;
}

/* About me CSS add-ons */
#info_about_me {
    font-size: 20px;
    padding: 50px 200px;
    margin: 0;
    color: whitesmoke;
    font-family: Helvetica ,Arial, sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
}
.matt-pic-div {
    margin: auto;
    width: 50%;
}
#matt-pic {
    width: 100%;
    border: 2px solid black;
}

